body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#0f172a,#1e3a8a);
color:white;
}

.center{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:rgba(255,255,255,0.12);
backdrop-filter:blur(14px);
padding:40px;
border-radius:18px;
width:320px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.5);
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:10px;
outline:none;
}

input:focus{
box-shadow:0 0 12px #38bdf8;
transform:scale(1.05);
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:linear-gradient(90deg,#22d3ee,#6366f1);
color:white;
font-weight:bold;
cursor:pointer;
}

header{
background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
}

.add{
width:500px;
margin:40px auto;
}

.tasks{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.task{
padding:20px;
border-radius:14px;
width:220px;
color:black;
font-weight:bold;
}

.red{background:#ef4444;}
.orange{background:#f97316;}
.yellow{background:#fde047;}
.green{background:#22c55e;}

.flash{
position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);
background:#ef4444;
padding:12px;
border-radius:10px;
}
