body{
margin:0;
font-family:Segoe UI,Arial;
background:#0f172a;
color:white;
}

/* AUTH */

.auth-body{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(135deg,#0f172a,#1e3a8a,#9333ea);
animation:bgmove 8s infinite alternate;
}

@keyframes bgmove{
0%{background-position:left;}
100%{background-position:right;}
}

.auth-wrapper{
display:flex;
gap:60px;
align-items:center;
}

.hero{
max-width:400px;
animation:slide 1s ease;
}

@keyframes slide{
from{opacity:0;transform:translateX(-40px);}
to{opacity:1;transform:translateX(0);}
}

.card{
background:white;
color:black;
padding:40px;
border-radius:16px;
width:320px;
box-shadow:0 15px 40px rgba(0,0,0,.4);
animation:pop .6s ease;
}

@keyframes pop{
from{transform:scale(.85);opacity:0;}
to{transform:scale(1);opacity:1;}
}

.card input, .card select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
transition:.2s;
}

.card input:focus{
border-color:#6366f1;
transform:scale(1.03);
}

.card button{
width:100%;
padding:12px;
border:none;
background:#6366f1;
color:white;
border-radius:10px;
cursor:pointer;
transition:.2s;
}

.card button:hover{
transform:translateY(-2px);
background:#4f46e5;
}

.error{
background:#fecaca;
color:#7f1d1d;
padding:8px;
border-radius:8px;
margin-bottom:10px;
}

/* DASHBOARD */

.topbar{
background:#1e293b;
padding:15px 30px;
display:flex;
justify-content:space-between;
}

.container{
max-width:900px;
margin:40px auto;
}

.task-form{
background:#1f2937;
padding:25px;
border-radius:14px;
margin-bottom:30px;
}

.task-form input,.task-form select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
}

.task-form button{
width:100%;
padding:12px;
background:#6366f1;
border:none;
color:white;
border-radius:10px;
}

.tasks{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(240px,1fr));
gap:18px;
}

.task-card{
padding:18px;
border-radius:14px;
animation:fade .5s ease;
}

@keyframes fade{
from{opacity:0;transform:translateY(20px);}
to{opacity:1;transform:translateY(0);}
}

.safe{background:#16a34a;}
.warning{background:#f59e0b;}
.urgent{background:#ef4444;}
.overdue{background:#7f1d1d;}
