body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#0f172a;
    color:white;
}

/* AUTH PAGES */

.auth-bg{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
}

.auth-box{
    background:#111827;
    padding:40px;
    border-radius:18px;
    width:350px;
    box-shadow:0 0 30px rgba(0,0,0,0.5);
    animation:pop 0.5s ease;
}

.auth-box h2{
    text-align:center;
    margin-bottom:20px;
}

.auth-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:none;
    outline:none;
    background:#1f2937;
    color:white;
    transition:0.3s;
}

.auth-box input:focus{
    transform:scale(1.05);
    background:#374151;
}

.btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#22c55e,#4ade80);
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}

/* DASHBOARD */

.container{
    width:80%;
    margin:auto;
    margin-top:40px;
}

.card{
    background:#1f2937;
    padding:20px;
    border-radius:16px;
    margin-bottom:25px;
}

.task-grid{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.task{
    width:250px;
    padding:18px;
    border-radius:14px;
    color:black;
    animation:fade 0.6s ease;
}

.red{background:#ef4444;}
.orange{background:#fb923c;}
.yellow{background:#fde047;}
.green{background:#4ade80;}

@keyframes pop{
    from{transform:scale(0.6);opacity:0;}
    to{transform:scale(1);opacity:1;}
}

@keyframes fade{
    from{opacity:0;transform:translateY(30px);}
    to{opacity:1;transform:translateY(0);}
}

.flash{
    background:#ef4444;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
    text-align:center;
}
