body {
    font-family: Arial;
    margin: 40px;
    background: #f4f6f8;
}

h1, h2 {
    color: #222;
}

.task {
    padding: 12px;
    border-radius: 10px;
    width: 350px;
    color: white;
    font-weight: bold;
}

/* Urgency colors */
.red {
    background: #e74c3c;
}

.orange {
    background: #f39c12;
}

.green {
    background: #2ecc71;
}

input, select {
    padding: 6px;
    margin: 5px 0;
    width: 220px;
}

button {
    padding: 8px 15px;
    background: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
}
.task-card{
    padding:12px;
    border-radius:10px;
    width:340px;
    margin-bottom:12px;
    font-family: Arial;
    box-shadow:0px 2px 8px rgba(0,0,0,0.2);
}

/* RED - urgent */
.high{
    background:#ffd6d6;
    border-left:8px solid red;
}

/* ORANGE - medium */
.medium{
    background:#fff1c2;
    border-left:8px solid orange;
}

/* GREEN - safe */
.low{
    background:#d6ffd9;
    border-left:8px solid green;
}
