body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eef2f7;
    margin: 0;
}

/* Top Bar */
.navbar {
    background: #2f7df6;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    background: #ff4d4d;
    padding: 8px 14px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/* Container */
.container {
    width: 70%;
    margin: auto;
    margin-top: 25px;
}

/* Cards */
.card {
    background: white;
    padding: 18px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Form */
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #2f7df6;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #1e5fd1;
}

/* Recommended Box */
.recommend {
    background: #ffe4e4;
    border-left: 6px solid #ff4d4d;
}

/* Task card */
.task {
    background: #e8f0ff;
    border-left: 6px solid #2f7df6;
}
