body {
    font-family: Arial;
    background: #eef2f7;
    margin: 0;
}

.navbar {
    background: #2f6fed;
    color: white;
    padding: 15px;
    font-weight: bold;
}

.navbar .right {
    float: right;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.yellow {
    border-left: 6px solid orange;
}

.red {
    border-left: 6px solid red;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 15px;
}

button {
    background: #2f6fed;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.center-card {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.error {
    color: red;
    font-weight: bold;
}
