<!DOCTYPE html>
<html>
<head>
<title>Human Verification</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-bg">

<div class="auth-box">

<h2>Human Verification</h2>
<p>Solve to continue</p>

<h1 class="math">{{ question }}</h1>

<form method="POST" action="/verify_captcha">
    <input type="number" name="captcha" placeholder="Answer" required>
    <input type="hidden" name="next" value="{{ next }}">
    <button class="btn">Verify</button>
</form>

</div>

</body>
</html>
