<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body class="dark">

<div class="topbar">
Welcome {{username}} | <a href="/logout">Logout</a>
</div>

<div class="taskbox">

<h2>Add Task</h2>

<form action="/add_task" method="POST">
<input name="subject" placeholder="Subject" required>
<input name="title" placeholder="Task Title" required>

<select name="type">
<option>Assignment</option>
<option>Exam</option>
<option>Lab</option>
<option>Project</option>
</select>

<input name="deadline" type="date" required>
<input name="hours" type="number" min="0" placeholder="Estimated Hours" required>

<button>Add Task</button>
</form>

</div>

<h2>Your Tasks</h2>

<div class="tasks">

{% for t in tasks %}
<div class="task {{t.color}}">
<b>{{t.subject}} - {{t.title}}</b><br>
Type: {{t.type}}<br>
Deadline: {{t.deadline}}<br>
Days Left: {{t.days_left}}<br>
Hours: {{t.hours}}
</div>
{% endfor %}

</div>

</body>
</html>
