<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>

<header class="topbar">
    <div>Academic Deadline Radar</div>
    <div>Welcome, {{ username }} | <a href="/logout">Logout</a></div>
</header>

<div class="container">

    <div class="task-form">
        <h2>Add Task</h2>

        <form action="/add" method="POST">

            <input name="subject" placeholder="Subject" required>
            <input name="title" placeholder="Task Title" required>

            <select name="task_type">
                <option>Assignment</option>
                <option>Exam</option>
                <option>Project</option>
                <option>Quiz</option>
            </select>

            <input type="date" name="deadline" required>
            <input type="number" min="0" name="hours" placeholder="Estimated Hours" required>

            <button>Add Task</button>
        </form>
    </div>

    <h2>All Tasks</h2>

    <div class="tasks">
        {% for task,days,color in tasks %}
        <div class="task-card {{color}}">
            <h3>{{task[2]}} - {{task[3]}}</h3>
            <p>Type: {{task[4]}}</p>
            <p>Deadline: {{task[5]}}</p>
            <p>Days Left: {{days}}</p>
            <p>Hours: {{task[6]}}</p>
        </div>
        {% endfor %}
    </div>

</div>

</body>
</html>
