<!DOCTYPE html>

<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="dash-body">

<div class="navbar">
    <h2>Academic Deadline Radar</h2>
    <div>
        Welcome, {{username}} |
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

```
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error-box">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<div class="card add">
    <h3>Add Task</h3>
    <form method="POST" action="/add">

        <input type="text" name="subject" placeholder="Subject" required>
        <input type="text" name="title" placeholder="Task title" required>

        <select name="task_type">
            <option>Assignment</option>
            <option>Lab</option>
            <option>Project</option>
            <option>Exam</option>
        </select>

        <input type="date" name="deadline" required>
        <input type="number" name="hours" placeholder="Estimated hours" required>

        <button class="btn">Add Task</button>
    </form>
</div>

<h3 class="task-title">Your Tasks</h3>

<div class="task-grid">
    {% for t,color,days in tasks %}
    <div class="task {{color}}">
        <h4>{{t[2]}} - {{t[3]}}</h4>
        <p>Type: {{t[4]}}</p>
        <p>Deadline: {{t[5]}}</p>
        <p>Days Left: {{days}}</p>
        <p>Hours: {{t[6]}}</p>
    </div>
    {% endfor %}
</div>
```

</div>

</body>
</html>
