<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg">

<div class="card">
<h2>Academic Deadline Radar</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="error">{{messages[0]}}</div>
{% endif %}
{% endwith %}

<form method="POST">

<input name="username" placeholder="Username" required>
<input name="password" type="password" placeholder="Password" required>

<p>Solve: {{question}}</p>
<input name="answer" placeholder="Answer" required>

<button type="submit">Login</button>

</form>

<a href="/register" class="link">Create account</a>
</div>

</body>
</html>
