<!DOCTYPE html>
<html>
<head>
    <title>Login - Academic Deadline Radar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-body">

<div class="auth-wrapper">

    <div class="hero">
        <h1>Academic Deadline Radar</h1>
        <p>Smartly decide what to study today.</p>
    </div>

    <form class="card" method="POST">

        <h2>Login</h2>

        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <button>Login</button>

        <p class="switch">
            New user? <a href="/register">Create account</a>
        </p>

    </form>

</div>

</body>
</html>
