{% extends "base.html" %}
{% block content %}

<div class="center">
<div class="card">

<h2>Create Account</h2>

<form method="POST">

<input name="username" placeholder="Username (min 4 chars)" required>
<input type="password" name="password" id="pass" placeholder="Password (min 6 chars)" required>

<div id="strength"></div>

<div class="captcha">
<span id="q">Loading...</span>
<input name="captcha" placeholder="Answer" required>
</div>

<button>Register</button>

</form>

<a href="/login">Already have account?</a>

</div>
</div>

<script>
fetch("/captcha_question")
.then(r=>r.json())
.then(d=>{
document.getElementById("q").innerText="Solve: "+d.q;
});
</script>

{% endblock %}
