<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="login-wrapper">

    <form class="login-box" method="POST">

        <div class="login-title">Create Account</div>
        <div class="login-sub">
            Start organizing your academic life today
        </div>

        <input type="text" name="username" placeholder="Choose Username" required>
        <input type="password" name="password" placeholder="Choose Password" required>

        <button class="btn">Register</button>

        <p style="margin-top:14px;">
            Already have an account?
            <a class="link" href="/login">Login</a>
        </p>

    </form>

</div>

</body>
</html>
