<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg">

<div class="card">
<h2>Create Account</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="error">{{messages[0]}}</div>
{% endif %}
{% endwith %}

<form method="POST">

<input name="username" placeholder="Username (min 4 chars)" required>
<input name="password" type="password" placeholder="Password (min 6 chars)" required>

<p>Solve: {{question}}</p>
<input name="answer" placeholder="Answer" required>

<button type="submit">Register</button>

</form>

<a href="/login" class="link">Already have account?</a>
</div>

</body>
</html>
